*{
  padding: 0;
  margin: 0;
}
/* body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.normal{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* header styles */
.Year{
  /* background-image: url('../images/Banner\ Image.png'); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/BannerImage.png');
  background-repeat: no-repeat;
  border-radius: 16px;
  width: 1320px;
  height: 600px;
  gap: 50px;
  font-size: medium;
  color:#FFFFFF;
  gap: 140px;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Party{
  font-size: 72px;
  display: flex;
  font-weight: 400px;
}
.Paragraph{
  text-align: center;
  color: #FF0000;
  font-size: medium;
  justify-content: space-between;
  justify-items: center;
  border: 1px solid red;
  
  }
.Off{
  font-size:100px;
}
.Holi{
  font-size: medium;
  font-weight: 24px;
}
  .bold{
    font-weight: bold;
    color: #070211;
    font-size: 48px;
  }
  
.Container{
  font-size: 64px;
}
.Paragraph-container{
  display: flex;
  align-items: center;
  margin:126px 298px;
  background-image:url('../images/Vectorrr.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  padding: 126px;
}

 .Fith{
  display: flex;
  justify-content: center;
  background-color:pink;
  margin:auto;
  padding:140px;
  border-radius: mixed;
}
li{
  text-decoration: none;
  list-style:none;
}


